# ==============================================================================
# CONFIGURAÇÕES DO CLIENTE (FRONTEND) - DEVSQUAD
# ==============================================================================

# URL base apontando para a versão 1 da API do seu backend local
VITE_API_URL="http://localhost:5000/api/v1"

# Caso usem alguma ferramenta externa no front futuramente (ex: Firebase, Stripe)
# VITE_FIREBASE_KEY="sua_chave_aqui"